<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Customer Page</h1>

    <table class="styled-table">
        <thead>
            <tr><th><input type="search"  placeholder="Search name" ng-model="search.customer_name" /></th></tr>
            <tr><th>Customer_name</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="cust in r_ctrl| filter:search">
                <td>{{cust.customer_name}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>